<script type="text/plain" id="tpl_swipe"><div class="swipe">
  <div class="swipe__plate">
    <figure class="swipe__photo"></figure>
    <figure class="swipe__photo"></figure>
    <figure class="swipe__photo"></figure>
  </div>
  <div class="swipe__index">0/0</div>
</div></script>